*{
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 0 8px;
    background-color: #6200EE;
    font-size: 22px;
}

header nav {
    display: flex;
    gap: 4px;
}

header nav a {
    padding: 4px;
    color: #ffffff;
    text-decoration: none;
}

header nav a:hover {
    background-color: #3700b3;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.product-list .product {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 5px 5px #f3f3f3;
    max-width: 300px;
}

.product-list .product .product-body {
    height: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.product-list .product img {
    width: 300px;
}

.product-list .product h3 {
    margin: 0 0 8px;
    font-size: 16px;
}

.product-list .product p {
    margin: auto 0 0;
    font-size: 24px;
}

.product-list .product button {
    color: #ffffff;
    background-color: #6200EE;
    padding: 12px;
    margin: 16px 0 0;
    border-radius: 8px;
    border: none;
}

.product-list .product button:hover {
    cursor: pointer;
    background-color: #3700b3;
}